.container {
  padding: 40px 16px;
  background-color: #FFFFFF;
}
.title {
  background-color: #06533e;
  border-radius: 8px;
  padding: 8px;
  color: #FFFFFF;
  text-align: center;
}

.arabic {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0;
}

.sourceText {
  background-color: #06533e;
  border-radius: 8px;
  color: #FFFFFF;
  width: fit-content;
  padding: 4px 6px;
  margin-top: 8px;
}
