@font-face {
  font-family: 'Courgette';
  src: url('../../assets/fonts/Courgette-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  padding: 24px 0;
  background-color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap:4px;
}

.logoText {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-size: 21px;
  font-style: normal;
}

.logo {
  width: 60px;
  height: 60px;
}